// Color set
$base-font-color: #4c4c4c;
$base-navyblue-color:#002e66;
$base-blue-color: #004a85;
$light-blue-color: #0061a8;
$white-color: #ffffff;
$yellow-color:#ffcc29;
$black-color: #000;
$gray-color:#ebebeb;
$gray-silver:#dbdbdb;
$grey-dark: #a1a1a1;
$light-grey: #999;
$grey: #3a3a3a;
$darkest-grey: #010101;
$menu-font-color: #084c86;
$orange-color: #f16f30;
$base-blue-color-dark: #0f4b85;
$green-color: #00dd00;
$red-color: #ff0000;
$button-hover: #f7bc36;
$blue-hover: #5fa3c7;
$footer-bg: #001d35;
$alert-danger: #e00904;
$alert-success: #71b356;
$brand-light-blue-color: #008fd5;
$dark-grey-color: #808285;

// Font size
$font-size-8: 0.5rem; // 10px
$font-size-10: 0.625rem; // 10px
$font-size-12: 0.75rem; // 12px
$font-size-13: 0.8125rem; // 12px
$font-size-14: 0.875rem; // 14px
$font-size-15: 0.9375rem; // 15px
$font-size-16: 1rem; // 16px
$font-size-17: 1.0625rem; // 17px
$font-size-17-1: 1.1rem; // 17.6px
$font-size-18: 1.125rem; // 16px
$font-size-20: 1.25rem; // 20px
$font-size-22: 1.375rem; // 22px
$font-size-24: 1.50rem; // 24px
$font-size-26: 1.625rem; // 26px
$font-size-28: 1.75rem; // 28px
$font-size-30: 1.875rem; // 30px
$font-size-32: 2rem; // 32px
$font-size-34: 2.125rem; // 34px
$font-size-36: 2.25rem; // 36px
$font-size-38: 2.375rem; // 38px
$font-size-40: 2.5rem; // 40px
$font-size-44: 2.75rem; // 44px
$font-size-48: 3rem; // 48px
$font-size-56: 3.5rem; // 56px
$font-size-60: 3.875rem; // 60px
// Screen size
$xlg:1440px;
$lg:1200px;
$xm:1024px;
$md:992px;
$sm:767px;
$axs:635px;
$xs:480px;
